# Exclude everything
/*

# Except for default project files
!/.github
!/build-aux
!/cmake
!/data
!/src
!.clang-format
!.cmake-format.json
!.gitignore
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!LICENSE-yolov8-face
!README.md
!FACE_GUIDE_KR.md
!/vendor
!.agents
!.agent

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
